
/* This is the type of letters of page. */
@font-face {
    font-family: "Fira Sans";
    src: url("http://fonts.gstatic.com/s/firasans/v5/5jAMGMsBXS6xUYEytGcZdD8E0i7KZn-EPnyo3HZu7kw.woff");
}

/* This is the background color of body. */
body{
    background-color: #fafffc;
}

/* These commands are for classes Descreption Form and Menu. */
#Description,#Form,#Menu{
    margin: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80;
}

/* These comands are for the navigation bar. */
#nav {
    list-style: none;
    margin: 0;
    background: deepskyblue;
    display: flex;
    justify-content: flex-end;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    transition: top 0.3s;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
#nav a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

#nav a:hover {
    background: #00b7f5;
}

/* These commands are for the header. */
header {
    position: relative;
    height: 300px;
    overflow: hidden;
  }
  
.backroundheader {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( deepskyblue,  #d9e6ff);
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
  }
  
h1 {
    margin: 0;
    padding: 100px 0;
    font: 20px ;
    text-align: center;
  }
  
header h1 {
    position: relative;
    color: white;
  }

header button {
    position: relative;
    color: black;
    background-color: white;
    border-radius: 10px;
  }

  header a
  {
     text-decoration: none;
     color: black;
  }

#Description img{
    float: right;
}

 #Description p{ 
    float:initial;
}


.main {
    text-align: left;
}

.mandatory{
    color: red;
}

 /* These commands are for the button pushorder and input submit. */
#pushorder, #submit{
    background-color: blue;
    border-radius: 10px;
}

#pushorder a{
    text-decoration: none;
}


/* These commands are for the reservation of costumer. */
.market{
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    border: 1px solid black;
    border-radius: 10px;
    z-index:10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.market.active{
    transform: translate(-50%,-50%) scale(1);
}

.marketheader{
    padding: 10px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}

.marketheader .markettitle{
    font-size: 1.25rem;
    font-weight: bold;
}

.marketheader #cbutton{
    cursor: pointer;
    border:none;
    outline:none;
    background:none;
    font-size: 1.25rem;
    font-weight: bold;
}

#backeffe{
    position: fixed;
     opacity: 0;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

#backeffe.active{
    opacity: 1;
    pointer-events: all;
}

.marketbody{
   padding: 10px 15px;
}

#marketbutton{
    cursor: pointer;
    border:none;
    outline:none;
    background-color: #fafffc;
}

/* These commands are for the buttons like and dislike */
aside>#like
{
    background-color: blue;
    border-radius: 10px;
}

aside>#dislike
{
    background-color:orange;
    border-radius: 10px;
}

/* These command are for the footer  */
footer>a{
    display: flex;
    align-items:flex-end;
    justify-content:flex-end;
}

footer{
    background-color: #4040ff;
    display: flex;
    justify-content:flex-start;
    text-align:justify;
}

/* These commands are for the display of the page if has to run to device wit other dimensions */
@media all and (max-width: 800px) {
    .nav {
        justify-content: space-around;
    }
}
@media all and (max-width: 600px) {
    .nav {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
    }

    .nav a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .nav li:last-of-type a {
        border-bottom: none;
    }
}

.wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1;
    }
}

@media all and (min-width: 800px) {
    .main {
        flex: 3;
        order: 2;
    }

    .aside-1 {
        order: 1;
    }

    .aside-2 {
        order: 3;
    }

    footer {
        order: 4;
    }
}